In [18]:
import pandas as pd 
import numpy as np

In [19]:
df=pd.read_excel('Movies_revenue.xlsx')

In [20]:
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28,""name"": ""Action""}, {""id"": 12,""name""...",http://www.avatarmovie.com/,19995,"[{""id"": 1463,""name"": ""culture clash""}, {""id"": ...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"",""id"": 289}...","[{""iso_3166_1"": ""US"",""name"": ""United States of...",2009-10-12 00:00:00,2787965087,162,"[{""iso_639_1"": ""en"",""name"": ""English""}, {""iso_...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,54000000,"[{""id"": 35,""name"": ""Comedy""}, {""id"": 10749,""na...",http://www.youmeanddupree.com/,1819,"[{""id"": 1253,""name"": ""roommate""}, {""id"": 2038,...",en,"You, Me and Dupree",After standing in as best man for his longtime...,18.600367,"[{""name"": ""Universal Pictures"",""id"": 33}, {""na...","[{""iso_3166_1"": ""US"",""name"": ""United States of...",7/14/2006,130431368,108,"[{""iso_639_1"": ""en"",""name"": ""English""}]",Released,Two's company. Dupree's a crowd.,"You, Me and Dupree",5.4,407
2,21000000,"[{""id"": 18,""name"": ""Drama""}, {""id"": 53,""name"":...",NaN,2575,"[{""id"": 246,""name"": ""dancing""}, {""id"": 470,""na...",en,The Tailor of Panama,A British spy is banished to Panama after havi...,7.047975,"[{""name"": ""Columbia Pictures"",""id"": 5}, {""name...","[{""iso_3166_1"": ""IE"",""name"": ""Ireland""}, {""iso...",2001-11-02 00:00:00,28008462,109,"[{""iso_639_1"": ""en"",""name"": ""English""}, {""iso_...",Released,"In a place this treacherous, what a good spy n...",The Tailor of Panama,6.2,92
3,1000000,"[{""id"": 80,""name"": ""Crime""}, {""id"": 18,""name"":...",NaN,26791,[],en,Brigham City,Wes Clayton is a lawman and a bishop in a Morm...,0.280083,"[{""name"": ""Main Street Movie Company"",""id"": 63...","[{""iso_3166_1"": ""US"",""name"": ""United States of...",3/30/2001,852206,119,"[{""iso_639_1"": ""en"",""name"": ""English""}]",Released,NaN,Brigham City,7.3,4
4,100000000,"[{""id"": 18,""name"": ""Drama""}, {""id"": 878,""name""...",NaN,644,"[{""id"": 310,""name"": ""artificial intelligence""}...",en,A.I. Artificial Intelligence,"A robotic boy, the first programmed to love, D...",34.035114,"[{""name"": ""DreamWorks SKG"",""id"": 27}, {""name"":...","[{""iso_3166_1"": ""US"",""name"": ""United States of...",6/29/2001,235926552,146,"[{""iso_639_1"": ""en"",""name"": ""English""}]",Released,David is 11 years old. He weighs 60 pounds. He...,A.I. Artificial Intelligence,6.8,1974

In [21]:
df.revenue.describe()

count    4.600000e+01
mean     1.879289e+08
std      4.551144e+08
min      8.522060e+05
25%      2.866957e+07
50%      8.381714e+07
75%      1.382135e+08
max      2.787965e+09
Name: revenue, dtype: float64

In [22]:
df['revenue_million']= df['revenue'].apply(lambda x:x/1000000)
df.revenue_million.describe()

count      46.000000
mean      187.928898
std       455.114423
min         0.852206
25%        28.669569
50%        83.817142
75%       138.213502
max      2787.965087
Name: revenue_million, dtype: float64

In [23]:
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,revenue_million
0,237000000,"[{""id"": 28,""name"": ""Action""}, {""id"": 12,""name""...",http://www.avatarmovie.com/,19995,"[{""id"": 1463,""name"": ""culture clash""}, {""id"": ...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"",""id"": 289}...",...,2009-10-12 00:00:00,2787965087,162,"[{""iso_639_1"": ""en"",""name"": ""English""}, {""iso_...",Released,Enter the World of Pandora.,Avatar,7.2,11800,2787.965087
1,54000000,"[{""id"": 35,""name"": ""Comedy""}, {""id"": 10749,""na...",http://www.youmeanddupree.com/,1819,"[{""id"": 1253,""name"": ""roommate""}, {""id"": 2038,...",en,"You, Me and Dupree",After standing in as best man for his longtime...,18.600367,"[{""name"": ""Universal Pictures"",""id"": 33}, {""na...",...,7/14/2006,130431368,108,"[{""iso_639_1"": ""en"",""name"": ""English""}]",Released,Two's company. Dupree's a crowd.,"You, Me and Dupree",5.4,407,130.431368
2,21000000,"[{""id"": 18,""name"": ""Drama""}, {""id"": 53,""name"":...",NaN,2575,"[{""id"": 246,""name"": ""dancing""}, {""id"": 470,""na...",en,The Tailor of Panama,A British spy is banished to Panama after havi...,7.047975,"[{""name"": ""Columbia Pictures"",""id"": 5}, {""name...",...,2001-11-02 00:00:00,28008462,109,"[{""iso_639_1"": ""en"",""name"": ""English""}, {""iso_...",Released,"In a place this treacherous, what a good spy n...",The Tailor of Panama,6.2,92,28.008462
3,1000000,"[{""id"": 80,""name"": ""Crime""}, {""id"": 18,""name"":...",NaN,26791,[],en,Brigham City,Wes Clayton is a lawman and a bishop in a Morm...,0.280083,"[{""name"": ""Main Street Movie Company"",""id"": 63...",...,3/30/2001,852206,119,"[{""iso_639_1"": ""en"",""name"": ""English""}]",Released,NaN,Brigham City,7.3,4,0.852206
4,100000000,"[{""id"": 18,""name"": ""Drama""}, {""id"": 878,""name""...",NaN,644,"[{""id"": 310,""name"": ""artificial intelligence""}...",en,A.I. Artificial Intelligence,"A robotic boy, the first programmed to love, D...",34.035114,"[{""name"": ""DreamWorks SKG"",""id"": 27}, {""name"":...",...,6/29/2001,235926552,146,"[{""iso_639_1"": ""en"",""name"": ""English""}]",Released,David is 11 years old. He weighs 60 pounds. He...,A.I. Artificial Intelligence,6.8,1974,235.926552

In [24]:
_,mean,std,*_ =df.revenue_million.describe()

In [25]:
mean,std

(187.92889841304347, 455.1144234195408)

In [26]:
def get_z_score(value,mean,std):
    return (value-mean)/std

In [27]:
df['z_score']= df.revenue_million.apply(lambda x: get_z_score(x,mean,std))
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,revenue_million,z_score
0,237000000,"[{""id"": 28,""name"": ""Action""}, {""id"": 12,""name""...",http://www.avatarmovie.com/,19995,"[{""id"": 1463,""name"": ""culture clash""}, {""id"": ...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"",""id"": 289}...",...,2787965087,162,"[{""iso_639_1"": ""en"",""name"": ""English""}, {""iso_...",Released,Enter the World of Pandora.,Avatar,7.2,11800,2787.965087,5.712929
1,54000000,"[{""id"": 35,""name"": ""Comedy""}, {""id"": 10749,""na...",http://www.youmeanddupree.com/,1819,"[{""id"": 1253,""name"": ""roommate""}, {""id"": 2038,...",en,"You, Me and Dupree",After standing in as best man for his longtime...,18.600367,"[{""name"": ""Universal Pictures"",""id"": 33}, {""na...",...,130431368,108,"[{""iso_639_1"": ""en"",""name"": ""English""}]",Released,Two's company. Dupree's a crowd.,"You, Me and Dupree",5.4,407,130.431368,-0.126336
2,21000000,"[{""id"": 18,""name"": ""Drama""}, {""id"": 53,""name"":...",NaN,2575,"[{""id"": 246,""name"": ""dancing""}, {""id"": 470,""na...",en,The Tailor of Panama,A British spy is banished to Panama after havi...,7.047975,"[{""name"": ""Columbia Pictures"",""id"": 5}, {""name...",...,28008462,109,"[{""iso_639_1"": ""en"",""name"": ""English""}, {""iso_...",Released,"In a place this treacherous, what a good spy n...",The Tailor of Panama,6.2,92,28.008462,-0.351385
3,1000000,"[{""id"": 80,""name"": ""Crime""}, {""id"": 18,""name"":...",NaN,26791,[],en,Brigham City,Wes Clayton is a lawman and a bishop in a Morm...,0.280083,"[{""name"": ""Main Street Movie Company"",""id"": 63...",...,852206,119,"[{""iso_639_1"": ""en"",""name"": ""English""}]",Released,NaN,Brigham City,7.3,4,0.852206,-0.411054
4,100000000,"[{""id"": 18,""name"": ""Drama""}, {""id"": 878,""name""...",NaN,644,"[{""id"": 310,""name"": ""artificial intelligence""}...",en,A.I. Artificial Intelligence,"A robotic boy, the first programmed to love, D...",34.035114,"[{""name"": ""DreamWorks SKG"",""id"": 27}, {""name"":...",...,235926552,146,"[{""iso_639_1"": ""en"",""name"": ""English""}]",Released,David is 11 years old. He weighs 60 pounds. He...,A.I. Artificial Intelligence,6.8,1974,235.926552,0.105463

In [28]:
df[df.z_score>3]

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,revenue_million,z_score
0,237000000,"[{""id"": 28,""name"": ""Action""}, {""id"": 12,""name""...",http://www.avatarmovie.com/,19995,"[{""id"": 1463,""name"": ""culture clash""}, {""id"": ...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"",""id"": 289}...",...,2787965087,162,"[{""iso_639_1"": ""en"",""name"": ""English""}, {""iso_...",Released,Enter the World of Pandora.,Avatar,7.2,11800,2787.965087,5.712929

In [34]:
# Modified Z Score

def get_mad(s):
    median=np.median(s)
    diff=abs(s-median)
    MAD=np.median(diff)
    return MAD

In [36]:
MAD = get_mad(df.revenue_million)
median=np.median(df.revenue_million)
MAD, median

(56.399542499999995, 83.8171415)

In [37]:
def get_modified_z_score(x,median,MAD):
    return 0.6745*(x-median)/MAD

In [39]:
get_modified_z_score(2787,median,MAD)

32.32822035849404

In [40]:
df['Modified_Z_Score']=df.revenue_million.apply(lambda x:get_modified_z_score(x,median,MAD))

In [41]:
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,revenue_million,z_score,Modified_Z_Score
0,237000000,"[{""id"": 28,""name"": ""Action""}, {""id"": 12,""name""...",http://www.avatarmovie.com/,19995,"[{""id"": 1463,""name"": ""culture clash""}, {""id"": ...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"",""id"": 289}...",...,162,"[{""iso_639_1"": ""en"",""name"": ""English""}, {""iso_...",Released,Enter the World of Pandora.,Avatar,7.2,11800,2787.965087,5.712929,32.339762
1,54000000,"[{""id"": 35,""name"": ""Comedy""}, {""id"": 10749,""na...",http://www.youmeanddupree.com/,1819,"[{""id"": 1253,""name"": ""roommate""}, {""id"": 2038,...",en,"You, Me and Dupree",After standing in as best man for his longtime...,18.600367,"[{""name"": ""Universal Pictures"",""id"": 33}, {""na...",...,108,"[{""iso_639_1"": ""en"",""name"": ""English""}]",Released,Two's company. Dupree's a crowd.,"You, Me and Dupree",5.4,407,130.431368,-0.126336,0.557474
2,21000000,"[{""id"": 18,""name"": ""Drama""}, {""id"": 53,""name"":...",NaN,2575,"[{""id"": 246,""name"": ""dancing""}, {""id"": 470,""na...",en,The Tailor of Panama,A British spy is banished to Panama after havi...,7.047975,"[{""name"": ""Columbia Pictures"",""id"": 5}, {""name...",...,109,"[{""iso_639_1"": ""en"",""name"": ""English""}, {""iso_...",Released,"In a place this treacherous, what a good spy n...",The Tailor of Panama,6.2,92,28.008462,-0.351385,-0.667434
3,1000000,"[{""id"": 80,""name"": ""Crime""}, {""id"": 18,""name"":...",NaN,26791,[],en,Brigham City,Wes Clayton is a lawman and a bishop in a Morm...,0.280083,"[{""name"": ""Main Street Movie Company"",""id"": 63...",...,119,"[{""iso_639_1"": ""en"",""name"": ""English""}]",Released,NaN,Brigham City,7.3,4,0.852206,-0.411054,-0.992204
4,100000000,"[{""id"": 18,""name"": ""Drama""}, {""id"": 878,""name""...",NaN,644,"[{""id"": 310,""name"": ""artificial intelligence""}...",en,A.I. Artificial Intelligence,"A robotic boy, the first programmed to love, D...",34.035114,"[{""name"": ""DreamWorks SKG"",""id"": 27}, {""name"":...",...,146,"[{""iso_639_1"": ""en"",""name"": ""English""}]",Released,David is 11 years old. He weighs 60 pounds. He...,A.I. Artificial Intelligence,6.8,1974,235.926552,0.105463,1.819125

In [42]:
df[df.Modified_Z_Score >3.5]

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,revenue_million,z_score,Modified_Z_Score
0,237000000,"[{""id"": 28,""name"": ""Action""}, {""id"": 12,""name""...",http://www.avatarmovie.com/,19995,"[{""id"": 1463,""name"": ""culture clash""}, {""id"": ...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"",""id"": 289}...",...,162,"[{""iso_639_1"": ""en"",""name"": ""English""}, {""iso_...",Released,Enter the World of Pandora.,Avatar,7.2,11800,2787.965087,5.712929,32.339762
7,150000000,"[{""id"": 28,""name"": ""Action""}, {""id"": 12,""name""...",http://www.jurassicworld.com/,135397,"[{""id"": 1299,""name"": ""monster""}, {""id"": 1718,""...",en,Jurassic World,Twenty-two years after the events of Jurassic ...,418.708552,"[{""name"": ""Universal Studios"",""id"": 13}, {""nam...",...,124,"[{""iso_639_1"": ""en"",""name"": ""English""}]",Released,The park is open.,Jurassic World,6.5,8662,1513.528810,2.912674,17.098375
12,25000000,"[{""id"": 53,""name"": ""Thriller""}, {""id"": 28,""nam...",NaN,619,"[{""id"": 1156,""name"": ""sister sister relationsh...",en,The Bodyguard,A former Secret Service agent grudgingly takes...,26.576385,"[{""name"": ""Tig Productions"",""id"": 335}, {""name...",...,129,"[{""iso_639_1"": ""en"",""name"": ""English""}]",Released,Never let her out of your sight. Never let you...,The Bodyguard,6.1,661,411.006740,0.490158,3.912964